@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color: darkred">

</body>

<div class="text-center">
    <div class="mainHeadingText">
        <h1 class="display-4 text-capitalize" style="font-family: cursive; color:white">
            Welcome to Tee's Pizza store
        </h1>
        <h2 class="mainSub" style="font-family: cursive; color:gold">
            East Rand's best pizza!'
        </h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>
    <div class="buttonPadding">
        <a class="btn mt-1 alert-danger text-capitalize" href="/PizzaMenuPage">
            Follow me to our menu
        </a>
    </div>
</div>
